In [13]:
import pandas as pd
import numpy as np

# Load the DataFrame from a CSV file
data = pd.read_csv('constraints4.csv') # test file name in the same directory 
df = pd.DataFrame(data)

# Calculate the number of non-zero values in each column and row
non_zero_columns = df.apply(lambda col: col.astype(bool).sum())
non_zero_rows = df.apply(lambda row: row.astype(bool).sum(), axis=1)

# Sort columns based on the number of non-zero values
sorted_columns = non_zero_columns.sort_values(ascending=False).index

# Sort rows based on the number of non-zero values and sum of columns in case of tie
sorted_rows = non_zero_rows.sort_values(ascending=False, kind='mergesort').index

# Create a new DataFrame with sorted columns and rows
sorted_df = df.loc[sorted_rows, sorted_columns]

print("Original DataFrame:")
print(df)
print("\nSorted DataFrame with columns and rows based on non-zero values count and sum of all column values:")
print(sorted_df)

# Save the sorted DataFrame to a new CSV file
file_name = "sorted_constraints.csv"
sorted_df.to_csv(file_name, index=False)

Original DataFrame:
   Teacher  11N1  11N2  11N3  11N4  12N1  12N2  12N3  12N4  11M1  11M4  12M3  \
0       M1     8     0     0     0     7     0     0     0     0     0     0
1       P1     7     0     0     0     8     0     0     0     0     0     0
2       C1     7     0     0     0     7     0     0     0     0     0     0
3       PE     1     1     1     1     1     1     1     1     1     0     1
4      ENG     1     1     2     1     1     1     1     1     0     1     0
5       M3     0     7     0     0     0     0     6     0     0     0     0
6       PA     0     4     4     0     0     7     0     0     3     0     4
7       BK     0     3     0     0     0     0     0     0     0     0     3
8       P2     0     8     7     0     0     7     0     0     0     0     0
9       M2     0     0     7     0     0     7     0     6     0     0     0
10  Naresh     0     0     3     0     0     0     4     0     0     3     0
11      P3     0     0     0     8     0     0     0     7     0     0     0
12      GS     0     0     0     3     0     0     3     3     0     4     0
13      M3     0     0     0     7     0     0     0     0     0     0     0
14      PO     0     0     0     4     0     0     0     4     0     0     0
15      M4     0     0     0     0     0     1     2     2     0     0     0
16      P3     0     0     0     0     0     0     7     0     0     0     0
17      AG     0     0     0     0     0     0     0     0     7     0     0
18      SD     0     0     0     0     0     0     0     0     5     0     0
19      KS     0     0     0     0     0     0     0     0     4     0     0
20      BP     0     0     0     0     0     0     0     0     4     0     4
21      RP     0     0     0     0     0     0     0     0     0     8     0
22      MD     0     0     0     0     0     0     0     0     0     4     4
23      GR     0     0     0     0     0     0     0     0     0     4     0
24      DG     0     0     0     0     0     0     0     0     0     0     8

    11M2  12M1  12M4
0      0     0     0
1      0     0     0
2      0     0     0
3      2     0     1
4      1     1     1
5      0     0     0
6      0     0     0
7      3     4     0
8      0     0     0
9      0     0     0
10     0     0     3
11     0     0     0
12     0     0     3
13     0     0     0
14     0     0     0
15     0     0     0
16     0     0     0
17     0     7     0
18     4     3     0
19     4     4     0
20     0     0     0
21     0     0     8
22     0     0     4
23     4     5     4
24     6     0     0

Sorted DataFrame with columns and rows based on non-zero values count and sum of all column values:
   Teacher  12N3  12N4  11M2  12M4  11N2  11N3  11N4  12N2  11M1  11M4  12M3  \
3       PE     1     1     2     1     1     1     1     1     1     0     1
4      ENG     1     1     1     1     1     2     1     1     0     1     0
6       PA     0     0     0     0     4     4     0     7     3     0     4
12      GS     3     3     0     3     0     0     3     0     0     4     0
7       BK     0     0     3     0     3     0     0     0     0     0     3
10  Naresh     4     0     0     3     0     3     0     0     0     3     0
23      GR     0     0     4     4     0     0     0     0     0     4     0
8       P2     0     0     0     0     8     7     0     7     0     0     0
9       M2     0     6     0     0     0     7     0     7     0     0     0
15      M4     2     2     0     0     0     0     0     1     0     0     0
18      SD     0     0     4     0     0     0     0     0     5     0     0
19      KS     0     0     4     0     0     0     0     0     4     0     0
22      MD     0     0     0     4     0     0     0     0     0     4     4
0       M1     0     0     0     0     0     0     0     0     0     0     0
1       P1     0     0     0     0     0     0     0     0     0     0     0
2       C1     0     0     0     0     0     0     0     0     0     0     0
5       M3     6     0     0     0     7     0     0     0     0     0     0
11      P3     0     7     0     0     0     0     8     0     0     0     0
14      PO     0     4     0     0     0     0     4     0     0     0     0
17      AG     0     0     0     0     0     0     0     0     7     0     0
20      BP     0     0     0     0     0     0     0     0     4     0     4
21      RP     0     0     0     8     0     0     0     0     0     8     0
24      DG     0     0     6     0     0     0     0     0     0     0     8
13      M3     0     0     0     0     0     0     7     0     0     0     0
16      P3     7     0     0     0     0     0     0     0     0     0     0

    12M1  11N1  12N1
3      0     1     1
4      1     1     1
6      0     0     0
12     0     0     0
7      4     0     0
10     0     0     0
23     5     0     0
8      0     0     0
9      0     0     0
15     0     0     0
18     3     0     0
19     4     0     0
22     0     0     0
0      0     8     7
1      0     7     8
2      0     7     7
5      0     0     0
11     0     0     0
14     0     0     0
17     7     0     0
20     0     0     0
21     0     0     0
24     0     0     0
13     0     0     0
16     0     0     0